{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>My Music App</title>
    <!-- Static Load -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
</head>
  
<body>
<div id="box">
    <!-- Navigation Bar -->
    <header>
        <nav>
            <img src="{% static '/images/headphones.png' %}" alt="headphones" />

            {# Implementing button in 'headphones' image that redirects to home page #}
{#            <a href="{% url 'index' %}">#}
{#                <img src="{% static '/images/headphones.png' %}" alt="headphones" style="width: 70px; height: auto;"/>#}
{#            </a>#}

            <a href="{% url 'index' %}">Home</a>
            
            {% if not no_navigation %}
                <ul>
                    <!--Only for user with created profile-->
                    <li><a href="{% url 'create_album' %}">Create Album</a></li>
                    <li><a href="{% url 'details_profile' %}">Profile</a></li>
                </ul>
            {% else %}
                <ul></ul>
            {% endif %}
        </nav>
    </header>
    <!-- End Navigation Bar -->

    {% block main_content %}
    {% endblock %}

      <!-- Footer -->
      <footer>
        <div>&copy;SoftUni Team 2024. All rights reserved.</div>
      </footer>
      <!-- End Footer -->
    
    </div>
  </body>
</html>