{% extends 'base.html' %}
{% load static %}
{% block main_content %}
    
    <!-- Main Content -->
    <!--Details Page-->
    <section id="detailsPage">
        <div class="wrapper">
            <div class="profilePage">
                <img
                    src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                    alt="Profile Image"
                />
                </div>
            
            <div class="profileText">
                <!-- Profile Info -->
                <h1>Username: {{ object.username }}</h1>  {# updating with object.username instead of the hardcode stuff #}
                <h1>Email: {{ object.email }}</h1>
                
                {#  adding if age given to show it, otherwise do nothing #}
                
                {% if object.age %}
                    <h1>Age: {{ object.age }} </h1>
                {% endif %}
            
                <h1>Albums: {{ object.album_set.count }}</h1>  {# taking album_set from DB. 'album' from the name of the model + '_set'#}
            </div>
            
            <div class="actionBtn">
                
                <!-- Button for Deleting the Profile -->
                <a href="{% url 'delete_profile' %}" class="remove">Delete</a>
            
            </div>
        </div>
    </section>

{% endblock %}
