{% extends 'base.html' %}
{% load static %}
{% block main_content %}
    
    <!-- Main Content -->
    <!--Edit Page-->
    <section class="editPage">
        <form action="{% url 'edit_album' pk=object.pk %}" method="post">  {# adding action and method #}
            <fieldset>
                <legend>Edit Album</legend>
                <div class="container">
                    
                    <!-- Form for Editing Album -->
                    
                    {{ form }} {# we deleted all hardcode inputs and labels #}
                    
                    <!-- Button for Editing Album -->
                    <button class="edit-album" type="submit">Edit Album</button>
                    
                    {% csrf_token %}  {# adding the token #}
                    
                </div>
            </fieldset>
        </form>
    </section>
{% endblock %}
